<!-- Header section -->
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 text-center text-lg-left">
                    <!-- logo -->
                    <a href="/home" class="site-logo">
                        Fanatic Books
                    </a>
                </div>
                <div class="col-xl-6 col-lg-5">
                    <form class="header-search-form">
                        <input type="text" placeholder="Search on Book Store ....">
                        <button><i class="flaticon-search"></i></button>
                    </form>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="user-panel">
                        <div class="up-item">
                            Welcome, Jan Doe
                        </div>
                        <div class="up-item">
                            <div class="shopping-card">
                              <a style="padding-right: 15px; font-weight: bold;" href="/home">Log Out</a>
                            </div>
                            <a href="/home" style="font-weight: bold;">My Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="main-navbar">
        <div class="container">
            <!-- menu -->
            <ul class="main-menu">
                <li><a href="/home">Biography</a></li>
                <li><a href="/home">Business</a>
                    <ul class="sub-menu">
                            <li><a href="/home">Folklore & Mythology</a></li>
                            <li><a href="/home">Graphic Novels & Comic Books</a></li>
                            <li><a href="/home">Historical Fiction</a></li>
                            <li><a href="/home">Horror</a></li>
                            <li><a href="/home">Humorous Fiction</a></li>
                            <li><a href="/home">Letters</a></li>
                            <li><a href="/home">Literary Criticism</a></li>
                            <li><a href="/home">Mystery & Crime</a></li>
                            <li><a href="/home">Nautical & Maritime Fiction</a></li>
                    </ul>
                </li>
                
                <li><a href="/home">CookBooks</a></li>
                <li><a href="/home">Fiction
                   
                </a>
                <ul class="sub-menu">
                    <li><a href="/home">African American Fiction</a></li>
                    <li><a href="/home">Anthologies</a></li>
                    <li><a href="/home">Christian Fiction</a></li>
                    <li><a href="/home">Boots</a></li>
                    <li><a href="/home">Drama</a></li>
                    <li><a href="/home">Essays</a></li>
                    <li><a href="/home">Fiction & Literature Classics</a></li>
                    <li><a href="/home">Fiction Subjects</a></li>
                    
                    
                    


                </ul>
            </li>
                <li><a href="/home">Health & Fitness</a>
                    <ul class="sub-menu">
                            <li><a href="/home">Novels & Short Stories</a></li>
                            <li><a href="/home">People & Cultures</a></li>
                            <li><a href="/home">Poetry</a></li>
                            <li><a href="/home">Romance</a></li>
                            <li><a href="/home">Science Fiction & Fantasy</a></li>
                            <li><a href="/home">Short Stories</a></li>
                            <li><a href="/home">Teen Fiction</a></li>
                            <li><a href="/home">Thrillers</a></li>
                            <li><a href="/home">War & Military Fiction</a></li>
                            <li><a href="/home">Westerns</a></li>
                            <li><a href="/home">Women's Fiction</a></li>
                            <li><a href="/home">World Literature</a></li>
                    </ul>
                </li>
                <li><a href="/home">History</a>
                    <ul class="sub-menu">
                        <li><a href="/home">Teen Fiction</a></li>
                    <li><a href="/home">Thrillers</a></li>
                    <li><a href="/home">War & Military Fiction</a></li>
                    <li><a href="/home">Westerns</a></li>
                    <li><a href="/home">Women's Fiction</a></li>
                    <li><a href="/home">World Literature</a></li>
                    </ul>
                </li>
                <li><a href="/home">Religion & Inspiration</a></li>
                <li><a href="/home">Self-Improvement</a></li>
            </ul>
        </div>
    </nav>
</header>
<!-- Header section end -->