<!-- Footer section -->
<section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="footer-widget about-widget">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.

                        </p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="footer-widget about-widget">
                    <h2>Links</h2>
                    <ul>
                        <li><a href="/home">About Us</a></li>
                        <li><a href="/home">Corporate Information</a></li>
                        <li><a href="/home">Careers</a></li>
                        <li><a href="/home">Customer Service</a></li>
                        <li><a href="/home">Sitemap</a></li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer section end -->