<!-- Login section -->
<section class="login-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 login-info col-lg-offset-3">
                <h3>Sign In to Book Store</h3>
                <form class="login-form">
                    <input type="text" placeholder="User name">
                    <input type="text" placeholder="Password">
                    <a href="/home" class="site-btn">SignIn</a>
                </form>
            </div>
        </div>
    </div>
</section>
<br/>
<br/>
<!-- Login section end -->