<div class="wrapper">
    <input checked type=radio name="slider" id="slide1" />
    <input type=radio name="slider" id="slide2" />
    <input type=radio name="slider" id="slide3" />
    <input type=radio name="slider" id="slide4" />
    <input type=radio name="slider" id="slide5" />
  
    <div class="slider-wrapper">
      <div class=inner>
        <article>
          <div class="info top-left">
            </div>
          <img src="../../../assets/img/banner1.jpg" />
        </article>
  
        <article>
          <div class="info bottom-right">
              </div>
            <img src="../../../assets/img/banner.jpg" />
        </article>
  
       
      </div>
      <!-- .inner -->
    </div>
    <!-- .slider-wrapper -->
  
    <div class="slider-prev-next-control">
      <label for=slide1></label>
      <label for=slide2></label>

    </div>
    <!-- .slider-prev-next-control -->
  
    <div class="slider-dot-control">
      <label for=slide1></label>
      <label for=slide2></label>

    </div>
    <!-- .slider-dot-control -->
  </div>