<!-- Product filter section -->
<section class="product-filter-section">
    <div class="container">

        <!-- Directive Implementation -->
        <div class="section-title">
                <h2 appHeadingdirective
                [Heading]= "getHeading()"
                [SubHeading] = "getSubheading()">
        </h2>
        </div>
        

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <a href="/productpage"><img src="../../../assets/img/product/5.jpg" alt=""></a>
                        <div class="pi-links">
                            <a href="/home" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            <a href="/home" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>{{883 | currency:"USD"}}</h6>
                        <p>Fifty Shades of Grey</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <div class="tag-sale">ON SALE</div>
                        <a href="/productpage"><img src="../../../assets/img/product/6.jpg" alt=""></a>
                        <div class="pi-links">
                            <a href="/home" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            <a href="/home" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>{{234 | currency:"USD"}}</h6>
                        <p>Catch - 22</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <a href="/productpage"><img src="../../../assets/img/product/7.jpg" alt=""></a>
                        <div class="pi-links">
                            <a href="/home" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            <a href="/home" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>{{323 | currency:"USD"}}</h6>
                        <p>Animal Farm</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <a href="/productpage"><img src="../../../assets/img/product/8.jpg" alt=""></a>
                        <div class="pi-links">
                            <a href="/home" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            <a href="/home" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>{{323 | currency:"USD"}}</h6>
                        <p>The Witches </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <a href="/productpage"><img src="../../../assets/img/product/9.jpg" alt=""></a>
                        <div class="pi-links">
                            <a href="/home" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            <a href="/home" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>{{332 | currency:"USD"}}</h6>
                        <p>The God Father</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <a href="/productpage"><img src="../../../assets/img/product/10.jpg" alt=""></a>
                        <div class="pi-links">
                            <a href="/home" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            <a href="/home" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>{{76 | currency:"USD"}}</h6>
                        <p>The Hobbit</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <a href="/productpage"><img src="../../../assets/img/product/11.jpg" alt=""></a>
                        <div class="pi-links">
                            <a href="/home" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            <a href="/home" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>{{988 | currency:"USD"}}</h6>
                        <p>To Kill a Mockingbird</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-pic">
                        <a href="/productpage"><img src="../../../assets/img/product/12.jpg" alt=""></a>
                        <div class="pi-links">
                            <a href="/home" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            <a href="/home" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>{{976 | currency:"USD"}}</h6>
                        <p>To Kill a Mockingbird</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pt-5">
            <button class="site-btn sb-line sb-dark">LOAD MORE</button>
        </div>
    </div>
</section>
<!-- Product filter section end -->