<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h4>Product Page</h4>
        <div class="site-pagination">
            <a href="/home">Home</a> /
            <a href="/productpage">Product</a>
        </div>
    </div>
</div>
<!-- Page info end -->
<!-- product section -->
<section class="product-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product-pic-zoom">
                    <img class="product-big-img" src="/src/assets/img/product/1.jpg" alt="">
                </div>
                <div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
                    <div class="product-thumbs-track">
                        <div class="pt active" data-imgbigurl="../../assets/img/product/1.jpg"><img src="../../assets/img/product/1.jpg" alt=""></div>
                        <div class="pt" data-imgbigurl="/src/assets/img/product/2.jpg"><img src="/src/assets/img/product/2.jpg" alt=""></div>
                        <div class="pt" data-imgbigurl="/src/assets/img/product/3.jpg"><img src="/src/assets/img/product/3.jpg" alt=""></div>
                        <div class="pt" data-imgbigurl="/src/assets/img/product/4.jpg"><img src="/src/assets/img/product/4.jpg" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 product-details">
                <h2 class="p-title">the CATCHER in the RYE</h2>
                <h3 class="p-price">$39.90</h3>
                <h4 class="p-stock">Available: <span>In Stock</span></h4>
                <div class="p-rating">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o fa-fade"></i>
                </div>
                <div class="p-review">
                    <a href="">3 reviews</a>|<a href="">Add your review</a>
                </div>
     
                <div class="quantity">
                    <p>Quantity</p>
                    <a href="/productpage" style="position: absolute;
                    left: 113px;
                    z-index: 2;
                    font-size: 20px;">-</a>
                    <div class="pro-qty">
                            
                        <input type="text" value="1">
                        
                    </div>
                    <a href="/productpage" style="    position: absolute;
                    left: 150px;
                    z-index: 2;
                    font-size: 20px;">+</a>
                </div>
                <a href="#" class="site-btn">SHOP NOW</a>
                <div id="accordion" class="accordion-area">
                    <div class="panel">
                        <div class="panel-header" id="headingOne">
                            <button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">information</button>
                        </div>
                        <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="social-sharing">
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-pinterest"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product section end -->

